@media (max-width: 767px)
{
    /*在小于768像素的屏幕里,这里的样式才生效*/
    /*侧边栏样式*/
    .header-bg {
        height:40%;
        margin-top: -10vh;
        background-image: url("https://wx2.sinaimg.cn/mw690/0060lm7Tly1fw60z4k74kj30xc1r1tbs.jpg")
    }
    .post {
        padding-left: 0;
        padding-right: 0;
    }
    .l-post-title {
        margin-top: 0;
        margin-bottom: 0!important;
    }
    .post-hover {
        box-shadow: 0 5px 5px -3px #999;
    }
}
@media (min-width: 768px) and (max-width: 991px)
{
    /*在768和991像素之间的屏幕里,这里的样式才生效*/
}
@media (min-width: 992px) and (max-width: 1199px)
{
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/
}
@media (min-width: 1200px) and (max-width: 1499px)
{
    /*在1200到1499像素的屏幕里,这里的样式才生效*/

}
@media (min-width:1500px)
{

}


